.service-section {
  box-shadow: 0 0 1px rgb(221, 228, 235);
  border-radius: 15px;
  text-align: center;
}
.ServiceTitle h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: #324f88;
  font-weight: 500;
  padding-top: 3rem;

}

.service-text p {
font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color:#455;
  text-align: center;
  padding: 3rem;
}
.ServiceFull h5 {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 24px !important;
  color: rgb(55, 6, 70) !important;
}
.ServiceFull {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(19rem, 1fr)) ;
/* align-items: center; */
justify-content: center;
row-gap: 3rem;
column-gap: 3rem;
}
