.notfound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
   
}

.notfound svg{
    padding:8rem 5rem 0 5rem;
    max-width: 100%;
    /* height: 1000px; */
    object-fit: cover;
}
.notfound .notfound-info{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: .5rem;
}
.notfound .notfound-info p{
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
}
.notfound .notfound-info a:link,
.notfound .notfound-info a:visited{
    text-decoration: none;
    padding: .5rem 2rem;
    background-color: #6E85B7;
    color: white;
    border-radius: 5rem;
    transition: all .3s;
}
.notfound .notfound-info a:hover,
.notfound .notfound-info a:active{
    background-color: #1F4690;
}