.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50rem; */
    justify-content: center;
    padding: 2rem;
    /* border: 1px solid grey; */
    animation:some 0.5s ease-in;
    border: 1px solid grey;
    border-radius: 1rem;
}
.login .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .logo h1{
    display: flex;
    font-size: 2rem;
    color: #585ab1;
}
.login .logo h1 span{
    color: grey;
}
.login .logo svg{
    width: 2.5rem;
    height: 2.5rem;
    color: brown;
}
.login .login_form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login .login_form form{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 2rem;
}
@keyframes some {
    0%{
        transform: translateY(-5rem);
    }
100%{
    transform: translateY(0);
}
}

