
.doctors-section{
background-color: #f1f5f8;
padding: 2rem;
}
.team-heading h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem;
  color: #555;
}
.team-heading p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.4rem;
  padding: .7rem 3rem;
  color: #555;


}
.person-detail {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin: 25px 0rem 0.5rem;
  line-height: 2.5rem;
  position: relative;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
}
.person-detail h3 {
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #5c5c5c;
  font-family: "Open Sans", sans-serif;
}
.doctor-cont {
  display: flex;
  margin: 0 auto;
  justify-content: center;
    background-color: #f1f5f8;
}
.Doctors-Field {
  width: 80rem;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)) !important;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.EachDoctors {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 2px rgb(166, 175, 184);
  border-radius: 15px;
  transition: all .3s;
}
.EachDoctors:hover{
  background-color: #3ba0cc;
  color: white;
}
.EachDoctors:hover .arrow-bottom
{
  background-color: white;
}
.EachDoctors:hover h3,
.EachDoctors:hover h4{
  color: white;
}
.Doctors-Detail h4 {
 padding:0 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: .2rem;
  text-align: center;
  color: #5c5c5c;
  font-weight: 400;
  
}

.person img {
  padding: 2%;
  align-self: center;
  width: 100%;
}

.arrow-bottom {
  position: center;
  width: 30px;
  height: 30px;
  background: #3ba0cc;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: -9px;
  left: 46%;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
}
.single-member:hover .person-detail {
  background: #2a2a2a;
}
.single-member:hover .arrow-top {
  background: #2a2a2a;
}
.single-member:hover .arrow-bottom {
  background: #2a2a2a;
}
@media screen and (max-width: 960px) {
  .Doctors-Field {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)) !important;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .doctor-cont {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .team-heading h4 {
    margin: 1rem 10rem;
  }
}
@media screen and (max-width: 780px) {
  .Doctors-Field {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)) !important;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .doctor-cont {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .team-heading h4 {
    margin: 1rem 10rem;
  }
}

@media screen and (max-width: 500px) {
  .Doctors-Field {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)) !important;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .team-heading h2 {
    font-size: 3rem;
  }
  .team-heading h4 {
    font-size: 1.5rem;
  }
  .person-detail p {
    text-align: center;
    font-size: 1.5rem;
  }
  .person img {
    width: 200px !important;
    padding:20px;
    margin-left: 0 !important;
  }
  
}
