.users_table{
display: flex;
flex-direction: column;
align-items: center;
width: 100% !important;
margin-top: 4rem;
  
    
}
.table{
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr))
}